/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  font-size: 10px;

  /* Might change all line colours */
  --line-black: black;
  --pearl: #efeae2;

  --dark-bg: #454545;
  --bright--orange: #ff6000;
  --lime: #00ff00;

  /* Font-Family */
  --google__font1: "Russo One", sans-serif;
  --google__font2: "Source Code Pro", monospace;
  --google__font3: "Roboto", sans-serif;
  --body-font: Arial, Helvetica, sans-serif;
}

body {
  font-family: var(--body-font);
  font-size: 1.6rem;
}

main {
  max-width: 900px;
  margin: 0 auto;
  position: relative;
}

header {
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
}

.navbar {
  width: 50%;
}

.nav__ul {
  display: flex;
  justify-content: space-around;
  font-size: 2.4rem;
}

/* home section */
/* home section */
/* home section */
/* home section */
/* home section */
.home__section {
  display: flex;
  justify-content: flex-end;
  background-image: url(img/plant__bg--3.avif);
  background-repeat: no-repeat;
  background-position: 100%;
  height: 75rem;
  padding-top: 10rem;

  /* border: 2px solid black; */
}

.container {
  display: flex;
}

/* .hero__img--container {
  position: absolute;
  right: 0;
  height: 100vh;
  width: 50vw;
} */
.heroText--container {
  text-align: right;
  /* margin-right: 7rem; */
  /* border: 2px solid black; */
}

.hero--name {
  font-family: var(--google__font3);
  font-size: 7rem;
  font-weight: 900;
  line-height: 6rem;
  padding-right: 1rem;
  padding-left: 2rem;
  /* text-shadow: 3px 3px var(--lime); */
}

.hero--text {
  font-size: 2.5rem;
}

.top {
  /* border-bottom: 2px solid #00ff00; */
  text-align: left;
}

.bottom {
  padding-left: 6rem;
}

.hero__button {
  font-size: 2.5rem;
  border: 1px solid black;
  text-align: center;
  margin-top: 2rem;
  padding: 0.6rem;
  box-shadow: 7px 7px grey;
}

/* about section */
/* about section */
/* about section */
/* about section */
/* about section */

.about__section {
  display: flex;
}

.about--left,
.about--right {
  width: 50%;
}

.about--right {
  background-image: url(img/plant__bg--4--smaller.jpg);
  background-repeat: no-repeat;
  background-position: 100%;
  width: ;
  padding: 30rem;
}
