/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  font-size: 10px;

  /* Might change all line colours */
  --line-black: black;
  --pearl: #efeae2;

  --bright--orange: #ff6000;
  --lime: #00ff00;
  --wave: #b8e986;
  --green-1: #84ff33;
  --green-1-op: #84ff33cf;
  --dark-bg: #222629;
  --dark-grey: #474b4f;
  --light-grey: #6b6e70;

  /* Font-Family */
  --google__font1: "Russo One", sans-serif;
  --google__font2: "Source Code Pro", monospace;
  --google__font3: "Roboto", sans-serif;
  --body-font: Arial, Helvetica, sans-serif;
}

body {
  font-family: var(--body-font);
  font-size: 1.6rem;
  position: relative;
  color: white;
  max-width: 100vw;
}

main {
  background-color: var(--dark-bg);
  margin: 0 auto;
}

span {
  display: inline-block;
  transition: all 0.5s ease;
}

span.fade:hover {
  color: var(--lime);
  /* opacity: 1; */
  transform: translateY(-20px);
}

.header {
  display: flex;
  justify-content: center;
}

.header--container {
  width: 100%;
  margin: 0 auto;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-bg);

  z-index: 9999999;
  color: white;
  max-width: 1800px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.section {
  margin-left: 3rem;
  padding-top: 6rem;
}

.title {
  font-size: 4rem;
  line-height: 4rem;
  display: inline-block;
  border-radius: 1rem;
}

a {
  text-decoration: none;
  color: black;
}

.navbar {
  width: 50%;
  position: sticky;
  /* margin-right: 25%; */
  z-index: 99999;
}

.nav__ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 0;
}

.nav__li {
  margin: 0 1rem;
}

.nav__li:hover {
  cursor: pointer;
}

.svg--img {
  margin-right: 10rem;
}

.svg--img:hover {
  cursor: pointer;
}

/* home section */
/* home section */
/* home section */
/* home section */
/* home section */

.home__section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75rem;
  background-color: #222629;
  position: relative;
}

.container {
  display: flex;
}

.heroText--container {
  position: absolute;
  text-align: right;
  z-index: 999;
}

.hero--name {
  font-family: var(--google__font3);
  font-size: 9rem;
  font-weight: 800;
  line-height: 9rem;
  padding-right: 1rem;
  padding-left: 2rem;
  color: white;
  text-shadow: 2px 2px 5px white;
  letter-spacing: 2px;

  /* text-shadow: 3px 3px var(--lime); */
}

.hero--text {
  font-size: 2.5rem;
  color: var(--lime);
}

.top {
  /* border-bottom: 2px solid #00ff00; */
  text-align: left;
  /* color: white; */
}

.bottom {
  padding-left: 6rem;
}

.hero__button {
  font-size: 2.5rem;
  border: 1px solid white;
  text-align: center;
  margin-top: 2rem;
  padding: 0.6rem;
  box-shadow: 7px 7px grey;
  border-radius: 1rem;
  /* width: 50%; */
  color: white;
}

.hero__button:hover {
  cursor: pointer;
}

/* about section */
/* about section */
/* about section */
/* about section */
/* about section */

/* right shapre */
.custom-shape-divider-top-1686415688 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1686415688 svg {
  position: relative;
  display: block;
  width: calc(121% + 1.3px);
  height: 105px;
}

.custom-shape-divider-top-1686415688 .shape-fill {
  fill: #84ff33a6;
}

/* Left shapre */
.custom-shape-divider-top-1686415723 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1686415723 svg {
  position: relative;
  display: block;
  width: calc(121% + 1.3px);
  height: 69px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1686415723 .shape-fill {
  fill: #474b4f;
}

.about__section {
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
  padding-bottom: 2rem;
  padding-right: 3rem;
  padding-left: 3rem;
}

.about--title {
  text-align: center;
  margin-top: 4rem;
  color: var(--lime);
}

.about--text {
  font-size: 2.4rem;
  font-weight: 500;
}

.about__p {
  margin-top: 1.5rem;
}

.about__lead {
  font-weight: 700;
}

/* project section */
/* project section */
/* project section */
/* project section */

.custom-shape-divider-top-1686464694 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1686464694 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 146px;
}

.custom-shape-divider-top-1686464694 .shape-fill {
  fill: #222629;
}

.section__container {
  display: flex;
  justify-content: center;
}

.projects__section {
  /* overflow: hidden; */
  padding-right: 2rem;
  position: relative;
  background-color: var(--dark-grey);
  max-width: 1200px;
  margin: 0 auto;
  z-index: 5;
  padding-bottom: 5rem;
  padding-top: 8rem;
}

.projects__container {
  height: 300px;
  overflow: hidden;
  display: flex;
  position: relative;
  width: 102rem;
  /* flex-grow: 0;
  flex-shrink: 0; */
  /* flex-basis: 300px; */
  margin-bottom: 10rem;
}

.projects--title {
  /* display: inline-block; */
  /* margin-bottom: 1.5rem; */
  /* text-align: center; */
  /* border: 2px solid black; */
  margin: 0 3rem;
  font-size: 4.5rem;
  color: var(--lime);
  letter-spacing: 2px;
}

.projects__button:hover {
  cursor: pointer;
}

.projects--tile {
  position: relative;
  border: 2px solid black;
  min-height: 30rem;
  display: inline-block;
  flex: 0 0 33.3%;
  margin: auto 0;
  transition: transform 1s;
  width: 100%;
  max-width: 300px;
}

.arrows__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.arrow {
  border: solid black;
  border-width: 0 15px 15px 0;
  display: inline-block;
  padding: 10px;
}

.arrow:hover {
  cursor: pointer;
}

.right--arrow {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left--arrow {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.projects--tile {
  border-radius: 1rem;
  margin: 0 1rem;
  min-width: 300px;
  max-height: 300px;
}

.tile--1 {
  background-image: url(img/origin--400.png);
  background-position: 100%;
  background-size: 300px 300px;
}

.tile--2 {
  background-image: url(img/mapty--400.png);
  background-position: cover;
  background-size: 300px 300px;
}

.tile--3 {
  background-image: url(img/weather--400.png);
  background-position: center;
  background-size: 300px 300px;
}

.tile--4 {
  background-image: url(img/origin--400.png);
  background-position: 100%;
  background-size: 300px 300px;
}
.tile--5 {
  background-image: url(img/mapty--400.png);
  background-position: cover;
  background-size: 300px 300px;
}
.tile--6 {
  background-image: url(img/weather--400.png);
  background-position: center;
  background-size: 300px 300px;
}

.chosen--tile {
  border: 0.5rem solid #00ff00;
}

.custom-shape-divider-bottom-1686464494 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: 2;
}

.custom-shape-divider-bottom-1686464494 svg {
  position: relative;
  display: block;
  width: calc(167% + 1.3px);
  height: 146px;
}

.custom-shape-divider-bottom-1686464494 .shape-fill {
  fill: #222629;
}

/* .projects--modal {
  height: 3rem;
  width: %;
  border: 2px solid black;
  margin: 0 auto;
} */

.custom-shape-divider-top-1686479229 .shape-fill {
  fill: #84ff33cf;
}

/* contact--section */
/* contact--section */
/* contact--section */
/* contact--section */
/* contact--section */

.contact__section {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 5rem;
}

input,
textarea {
  display: block;
  width: 75%;
  margin: 0 auto;
  font-size: 3rem;
  border: 1px solid black;
  padding-left: 1rem;
  border-radius: 1rem;
  background-color: var(--dark-grey);
  color: white;
}

.email__input {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

.contact__form {
  /* border: 2px solid black; */
  width: 75%;
  margin: 0 auto;
}

.contact--title {
  display: inline-block;
  margin-bottom: 0 auto 1.5rem;
  text-align: center;
  margin-bottom: 3rem;
  color: var(--lime);
}

.contact--title__container {
  display: flex;
  justify-content: center;
}

.submit__button {
  font-size: 2.5rem;
  background-color: transparent;
  text-align: center;
  margin-top: 2rem;
  padding: 0.6rem;
  box-shadow: 7px 7px grey;
  width: 50%;
  color: white;
  border: 2px solid white;
}

.submit__button:hover {
  cursor: pointer;
}

textarea {
  height: auto;
  resize: none;
}

/* footer */
/* footer */
/* footer */
/* footer */
/* footer */

.custom-shape-divider-bottom-1686416238 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1686416238 svg {
  position: relative;
  display: block;
  width: calc(105% + 1.3px);
  height: 61px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1686416238 .shape-fill {
  fill: #84ff33a6;
}

footer {
  background-color: var(--dark-bg);
}

.footer--text {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 2rem;
  /* padding-top: 2rem; */
  margin-right: 3rem;
  padding-top: 2rem;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 6rem;
  padding-top: 2rem;
}

.fa {
  font-size: 5rem;
  margin: 0 1rem;
  color: var(--lime);
}
/* modal */
/* modal */
/* modal */
/* modal */
/* modal */
.hidden {
  display: none;
}

.modal {
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  z-index: 99999;
  border: 1px solid white;
  text-align: center;
  padding: 6rem;
  border-radius: 1rem;
  /* box-shadow: 7px 7px grey; */
  background-color: var(--dark-bg);
}

.modal--overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  z-index: 9999;
}

.modal__button--close {
  position: absolute;
  top: 0rem;
  right: 1.2rem;
  font-size: 5rem;
  background-color: var(--dark-bg);
  border: none;
  color: white;
}

.modal__button--close:hover {
  cursor: pointer;
}

.modal--title {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.modal--text {
  font-size: 3rem;
  font-weight: 700;
  color: white;
}

/* MEDIA QUERIES */
/* MEDIA QUERIES */
/* MEDIA QUERIES */

@media (min-width: 600px) and (max-width: 900px) {
  body {
    width: 100vw;
  }

  .section {
    margin-left: 0;
    padding-top: 3rem;
  }

  .nav__ul {
    font-size: 2rem;
  }

  /* home section */
  /* home section */
  /* home section */

  .home__section {
    padding-top: 10rem;
    margin-left: 0rem;
  }

  /* about section */
  /* about section */
  /* about section */

  .about--left {
    width: 90%;
  }

  /* project section */
  /* project section */
  /* project section */

  .projects__section {
    padding-right: 0;
    padding-top: 6rem;
  }

  .arrow {
    display: none;
  }

  .projects__container {
    height: auto;
    overflow: visible;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    width: auto;
    /* flex-grow: 0;
    flex-shrink: 0; */
    /* flex-basis: 300px; */
  }

  .projects--tile {
    margin: 1rem;
  }
}

@media (max-width: 600px) {
  .section {
    margin-left: 0;
    padding-top: 3rem;
  }

  .hero--name {
    font-family: var(--google__font3);
    font-size: 6rem;
    font-weight: 800;
    line-height: 6rem;
    padding-right: 1rem;
    padding-left: 2rem;
    color: white;
    text-shadow: 1px 1px 3px white;
    letter-spacing: 2px;

    /* text-shadow: 3px 3px var(--lime); */
  }

  .heroText--container {
    padding-right: 2rem;
  }

  .hero--text {
    font-size: 2rem;
  }

  .top {
    margin-left: 5rem;
  }

  .navbar {
    width: 80%;
  }

  .header--container {
    justify-content: center;
    width: 100%;
  }

  .nav__ul {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .nav__li {
    margin: 0 1rem;
  }

  .svg--img {
    margin-right: 0;
  }

  /* home section */
  /* home section */
  /* home section */

  .home__section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: none;
    background-repeat: no-repeat;
    background-position: 100%;
    height: 100vh;
    padding-top: 0;
    margin-left: 0;

    /* border: 2px solid black; */
  }

  .hero__button {
    font-size: 2rem;
    text-align: center;
    padding: 0.6rem;
    /* box-shadow: 7px 7px grey; */
    border-radius: 1rem;
    width: 90%;
    margin: 1rem auto;
  }

  /* about section */
  /* about section */
  /* about section */

  .about--title {
    /* margin: 0 auto; */
    display: block;
    text-align: center;
  }

  .about__p {
    text-align: center;
  }

  /* project section */
  /* project section */
  /* project section */

  .projects__section {
    /* overflow: hidden; */
    padding-right: 0;
    position: relative;
    padding-top: 6rem;
  }

  .projects__container {
    height: auto;
    overflow: visible;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* position: relative; */
    width: 0 auto;
    /* flex-grow: 0;
    flex-shrink: 0; */
    /* flex-basis: 300px; */
  }

  .arrow {
    /* border: 2px solid red; */
    /* display: flex;
    align-items: center; */
    /* justify-content: center; */
    /* position: absolute;
    z-index: 3; */
    display: none;
  }

  .projects--tile {
    position: static;
    /* border: 2px solid black; */
    min-height: 30rem;
    /* display: inline-block; */
    flex: auto;
    margin: 1rem;
    /* transition: transform 1s; */
    width: 100%;
    /* max-width: 300px; */
  }

  /* contact--section */
  /* contact--section */
  /* contact--section */

  input,
  textarea {
    display: block;
    width: 100%;
    font-size: 2rem;
    /* border: 1px solid black; */
    /* padding-left: 1rem; */
    /* border-radius: 1rem; */
  }

  .contact__form {
    /* border: 2px solid black; */
    width: 90%;
    /* margin: 0 auto; */
  }

  .submit__button {
    font-size: 2rem;

    box-shadow: none;
    width: 75%;
  }

  .footer--text {
    font-size: 1.6rem;
  }

  /* modal */
  /* modal */
  /* modal */

  .modal {
    /* position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    z-index: 99999;
    border: 2px solid black;
    text-align: center;
    background-color: white; */
    padding: 1rem 3rem;
    /* border-radius: 1rem;
    box-shadow: 7px 7px grey; */
    text-align: center;
  }

  .modal__button--close {
    /* position: absolute; */
    top: 0.1rem;
    right: 0.5rem;
    font-size: 3rem;
    /* background-color: white; */
    border: none;
    padding: 0;
  }

  .modal--title {
    font-size: 2rem;
    margin-bottom: 1rem;
    /* border-bottom: 1px solid black; */
  }

  .modal--text {
    font-size: 1.7rem;
    font-weight: 500;
  }

  .footer__container {
    flex-direction: column;
  }

  .footer--text {
    margin-right: 0;
    font-weight: 1rem;
  }

  .fa {
    font-size: 3rem;
    margin: 0.3rem 1rem 1rem;
  }

  .footer--text {
    padding: 0;
  }
}
