/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  font-size: 10px;

  /* Might change all line colours */
  --line-black: black;
  --pearl: #efeae2;

  --dark-bg: #454545;
  --bright--orange: #ff6000;
  --lime: #00ff00;

  /* Font-Family */
  --google__font1: "Russo One", sans-serif;
  --google__font2: "Source Code Pro", monospace;
  --google__font3: "Roboto", sans-serif;
  --body-font: Arial, Helvetica, sans-serif;
}

body {
  font-family: var(--body-font);
  font-size: 1.6rem;
  position: relative;
  /* margin: 0 auto; */
  /* width: 100%; */
}

main {
  /* border: 2px solid black; */
  /* box-shadow: 10px 10px grey; */
  padding: 2rem;
  border-radius: 1rem;
  max-width: 1200px;
  margin: 0 auto;
  /* position: relative; */
  /* border: 2px solid black; */
}

.header {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  border-radius: 1rem;
  margin-bottom: 1rem;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  background-color: #6b8339;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 999;

  /* box-shadow: 7px 7px grey; */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.section {
  margin-left: 3rem;
  padding-top: 6rem;
}

.title {
  font-size: 5rem;
  /* text-shadow: -3px 3px grey; */
  /* display: inline-block; */
  line-height: 5rem;
}

a {
  text-decoration: none;
  color: black;
}

.navbar {
  width: 50%;
  /* display: flex;
  justify-content: space-between; */
  position: sticky;
}

.nav__ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: 2px;
}

.nav__li:hover {
  cursor: pointer;
}

.svg--img:hover {
  cursor: pointer;
}

/* home section */
/* home section */
/* home section */
/* home section */
/* home section */
.home__section {
  display: flex;
  justify-content: flex-end;
  background-image: url(img/plant__bg--3.avif);
  background-repeat: no-repeat;
  background-position: 100%;
  height: 75rem;
  padding-top: 10rem;
  margin-left: -2rem;

  /* border: 2px solid black; */
}

.container {
  display: flex;
}

/* .hero__img--container {
  position: absolute;
  right: 0;
  height: 100vh;
  width: 50vw;
} */
.heroText--container {
  text-align: right;
  /* margin-right: 7rem; */
  /* border: 2px solid black; */
}

.hero--name {
  font-family: var(--google__font3);
  font-size: 7rem;
  font-weight: 900;
  line-height: 6rem;
  padding-right: 1rem;
  padding-left: 2rem;
  /* text-shadow: 3px 3px var(--lime); */
}

.hero--text {
  font-size: 2.5rem;
}

.top {
  /* border-bottom: 2px solid #00ff00; */
  text-align: left;
}

.bottom {
  padding-left: 6rem;
}

.hero__button {
  font-size: 2.5rem;
  border: 1px solid black;
  text-align: center;
  margin-top: 2rem;
  padding: 0.6rem;
  box-shadow: 7px 7px grey;
  border-radius: 1rem;
}

.hero__button:hover {
  cursor: pointer;
}

/* about section */
/* about section */
/* about section */
/* about section */
/* about section */

.about__section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-image: url(img/plant__bg--4--smaller.jpg);
  background-repeat: no-repeat;
  background-position: 100%;
}

.about--title {
  margin-left: 10rem;
  margin: 0 auto;
  text-align: center;
}

.about--left {
  width: 55%;
}

.about--text {
  font-size: 2rem;
}

.about__p {
  margin-top: 1.5rem;
}

/* project section */
/* project section */
/* project section */
/* project section */
/* project section */

.section__container {
  display: flex;
  justify-content: center;
}

.projects__section {
  /* overflow: hidden; */
  padding-right: 2rem;
  position: relative;
}

.projects__container {
  height: 300px;
  overflow: hidden;
  display: flex;
  position: relative;
  width: 102rem;
  /* flex-grow: 0;
  flex-shrink: 0; */
  /* flex-basis: 300px; */
}

.projects__button {
  /* border: 2px solid red; */
  /* display: flex;
  align-items: center; */
  /* justify-content: center; */
  position: absolute;
  z-index: 3;
}

.btn--left {
  top: 50%;
  left: -4rem;
  width: 5rem;
}

.btn--right {
  width: 5rem;
  top: 50%;
  right: -1rem;
}

.projects__button:hover {
  cursor: pointer;
}

.btn--placeholders {
  /* background-size: 400px 400px; */
  border: 2px solid black;
  background-color: gray;
  font-size: 3rem;
  font-weight: 800;
  height: 4rem;
  width: 4rem;
  border-radius: 25px;
  margin-bottom: 2rem;
}

.projects--tile {
  position: relative;
  border: 2px solid black;
  min-height: 30rem;
  display: inline-block;
  flex: 0 0 33.3%;
  margin: auto 0;
  transition: transform 1s;
  width: 100%;
  max-width: 300px;
}

.projects--title {
  display: block;
  margin-bottom: 1.5rem;
  text-align: center;
  border: none;
}

.projects--tile {
  border-radius: 1rem;
  margin: 0 1rem;
  min-width: 300px;
  max-height: 300px;
}

.tile--1 {
  background-image: url(img/origin--400.png);
  background-position: 100%;
  background-size: 300px 300px;
}

.tile--2 {
  background-image: url(img/mapty--400.png);
  background-position: cover;
  background-size: 300px 300px;
}

.tile--3 {
  background-image: url(img/weather--400.png);
  background-position: center;
  background-size: 300px 300px;
}

.tile--4 {
  background-color: red;
}
.tile--5 {
  background-color: blue;
}
.tile--6 {
  background-color: green;
}

.chosen--tile {
  border: 0.5rem solid #00ff00;
}

/* contact--section */
/* contact--section */
/* contact--section */
/* contact--section */
/* contact--section */

input,
textarea {
  display: block;
  width: 75%;
  margin: 1rem auto;
  font-size: 3rem;
  border: 1px solid black;
  padding-left: 1rem;
  border-radius: 1rem;
}

.contact__section {
  margin-top: 8rem;
  margin-bottom: 6rem;
}

.contact__form {
  /* border: 2px solid black; */
  width: 75%;
  margin: 0 auto;
}

.contact--title {
  display: block;
  margin-bottom: 1.5rem;
  text-align: center;
  border: none;
}

.submit__button {
  font-size: 2.5rem;
  border: 1px solid black;
  background-color: white;
  text-align: center;
  margin-top: 2rem;
  padding: 0.6rem;
  box-shadow: 7px 7px grey;
  width: 50%;
}

.submit__button:hover {
  cursor: pointer;
}

textarea {
  height: auto;
  resize: none;
}

/* footer */
/* footer */
/* footer */
/* footer */
/* footer */

.footer--text {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

/* modal */
/* modal */
/* modal */
/* modal */
/* modal */
.hidden {
  display: none;
}

.modal {
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  z-index: 99999;
  border: 2px solid black;
  text-align: center;
  background-color: white;
  padding: 6rem;
  border-radius: 1rem;
  box-shadow: 7px 7px grey;
}

.modal--overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  z-index: 5;
}

.modal__button--close {
  position: absolute;
  top: 0rem;
  right: 1.2rem;
  font-size: 5rem;
  background-color: white;
  border: none;
}

.modal__button--close:hover {
  cursor: pointer;
}

.modal--title {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.modal--text {
  font-size: 3rem;
  font-weight: 700;
}
